{% extends "PizzeriaManuel/padre.html" %}

{% load static %}

{% block container %}
<section class="about bg-dark ">

    <article class=" about-info  ">
        <h2 class="text-white fw-bolder">Sobre Mi</h2>
        <p class="text-white fw-bolder">Esta aplicación es mi primer paso por el mundo de la programación.
            La idea fue desarrollar una aplicación enfocada al área de Gastronomia.
        Ya que en mi familia mi papa y mi hermano son pizzeros ya hace muchos años.
    Yo actualmente trabajo en una concecionaria muy conocidad en mi localidad llamada Ciudad Moto.
Donde trabajo en el area de sistemas.
Cumpliendo tareas de redes,cctv,etc.</p>
    </article>

</section>
{% endblock %}